#header {
    height: 600px;
    /* background-image: url(./img/arkaplan.jpg); */
    background: linear-gradient(to top, rgb(0, 0, 0, .8), rgb(0, 0, 0, 0) 60%, rgb(0, 0, 0, .8) 100%), url(./img/arkaplan.jpg);
}

.basla {
    margin-top: 150px !important;
}

.basla form input::placeholder {
    color: white;
}

.cizgi {
    height: 10px;
    width: 100%;
    background-color: #3a3a3a;
}